[submodule "dotnet/runtime"]
	path = dotnet/runtime
	url = https://github.com/dotnet/runtime.git
	branch = release/9.0
[submodule "src/Cosmos.Kernel.Native.X64/lai"]
	path = src/Cosmos.Kernel.Native.X64/lai
	url = https://github.com/managarm/lai.git
