name: .NET Format

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "**" ]

jobs:
  format:
    name: Check Code Formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ 10.0.x ]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - name: Compile Packages
        run: ./.devcontainer/postCreateCommand.sh

      - name: Restore Dependencies
        run: dotnet restore ./nativeaot-patcher.slnx

      - name: Check Formatting
        run: dotnet format ./nativeaot-patcher.slnx --exclude dotnet --verify-no-changes --severity error || { echo "::error file=Code Formatting::Some files need formatting. Run 'dotnet format' locally."; exit 1; }

