name: Package

on:
  push:
    branches: [ main ]

jobs:
  package:
    name: Build and Publish
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 2

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Check for Bump
        id: bump
        run: |
          if git log --no-merges --oneline -1 | grep -iq "bump"; then
            echo "found=true" >> $GITHUB_OUTPUT
          fi

      - name: Build Packages
        if: steps.bump.outputs.found == 'true'
        run: |
          export VersionSuffix="build.$(date +%Y%m%d%H%M)"
          dotnet nuget locals all --clear
          ./.devcontainer/postCreateCommand.sh

      - name: Publish to NuGet
        if: steps.bump.outputs.found == 'true'
        run: |
          for pkg in ./artifacts/package/release/*.nupkg; do
            dotnet nuget push "$pkg" --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
          done
